*.*
!*.R
!*.png
!*.py
!*.sh
!*.Rmd
!*.md
!.gitignore
!*.jpg
!*.ris
!*.pdf
!*.gff
!SARS-CoV-2_patient_specimen/SARS-CoV-2/scaffolds.fasta
SARS-CoV-2_patient_specimen/SARS-CoV-2/pipeline_state/
SARS-CoV-2_patient_specimen/SARS-CoV-2/*/simplified_contigs/contigs_info
sequence
